<dropbox
        (eventEmitter)="onDropedFile($event)"
        *ngIf="state==editorState.Idle">
</dropbox>

<div class="container" *ngIf="state==editorState.GotFile">
    <section class="section">

        <div style="display: flex; flex-direction: row">
            <div>{{selectedFile.name}}</div>

            <div style="margin-left: 10px;">
                <button class="button is-primary" (click)="audio.play()">Play</button>
            </div>

        </div>
    </section>

    <div style="display: flex; flex-direction: column; align-items: center">
        <wave-visualiser [HolstWidth]="800" [HolstHeight]="100"></wave-visualiser>
    </div>
</div>

<audio id="audio" class="audio"></audio>