@import "variables";

.dropbox-container {
  // Ovverlap all parent divs
  position: absolute;
  left: 0;
  margin-top: -52px;
  //

  width: 100%;
  height: 100%;
  background: url(../images/eeyore.png) center center no-repeat;
  background-size: auto;
  cursor: pointer;
}

// File control
.filectrl {
  display: none;
  visibility: hidden;
}



