$SUCCESS_ALERT_COLOR: #30B661;

.dropbox-container {
  min-height: 100%;
  //background-color: #00cc99;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropbox-vertical-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.dropbox-alert {
  padding-top: 60px;
  align-self: center;
}

.dropbox-aim {
  //background-color: gold;
  align-self: center;
  flex: 1;

  display: flex;
  justify-content: center;
}

.dropbox-aim-item {
  align-self: center;
}

.dropbox-footer-container {
  align-self: stretch;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropbox-footer-item {
  align-self: center;
}

.dropbox-filectrl {
  display: none;
  visibility: hidden;
}

.dropbox-dropinfo {
  margin-bottom: 20px;
  color: $SUCCESS_ALERT_COLOR;
  background-color: #E8F7ED;

  border: 1px solid $SUCCESS_ALERT_COLOR;
  border-radius: 4px;
  padding: 15px;
  z-index: 999;
}

.dropbox-droplogo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
