@import "variables";

.dropbox-container {
  height: 100%;

  background: url(../images/eeyore.png) center center no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

// File control
.filectrl {
  display: none;
  visibility: hidden;
}



