@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin justify-content($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

.flex-wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}

.flexbox-parent {
  @extend .flex-wrapper;

  width: 100%;
  height: 100%;

  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.flexbox-vertical-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flexbox-item-grow {
  flex: 1; /* same as flex: 1 1 auto; */
}

.flexbox-aligner {
  border-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flexbox-aligner-item {
  max-width: 50%;
}

.flexbox-aligner-item--top {
  align-self: flex-start;
}

.flexbox-aligner-item--bottom {
  align-self: flex-end;
}