//----- Color
$BLUE_COLOR: #2d15e5;
$DARK_BLUE_COLOR: #2815b6;

$ALERT_INFO_BACKGROUND_COLOR: #d9edf7;
$ALERT_INFO_BORDER_COLOR: #bce8f1;
$ALERT_INFO_COLOR: #31708f;

//----- Logo Color
$DEFAULT_LOGO_COLOR: #69707a;
$BLUE_LOGO_COLOR: #2d15e5;
$BLUE_ALT_LOGO_COLOR: #2815b6;
